.header__button {
    display: none;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: $object-color;
    border-radius: 8px;
    width: 218px;
    height: 48px;
    cursor: pointer;
}

.header__button:hover {
    background-color: rgba(6, 108, 76, 1);
}

@media screen and (max-width: 1065px) {
    .header__button {
        width: 184px;
        height: 44px;
    }
}

@media screen and (max-width: 680px) {
    .header__button {
        width: 140px;
        height: 30px;
    }
}

@media screen and (max-width: 350px) {
    .header__button {
        margin-left: 114px;
    }
}