.intro {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &__conteiner {
        display: flex;
        margin-left: 160px;
        flex-direction: column;
        margin-top: 70px;
    }
    &__label {
        width: 84px;
        height: 50px;
        background-color: $color-secondary;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 45% 45% 0;
    }
    &__label-text {
        font-family: 'Noto Sans', 'Helvetica Neue', 'Arial', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 90%;
        color: $text-color;
        text-transform: uppercase;
    }
    &__name {
        @include main-text;
        width: 500px;
        margin-top: 70px;
        margin-bottom: 40px;
    }
    &__paragraph {
        @include secondary-text;
        width: 500px;
        margin-bottom: 182px;
    }
    &__image {
        width: 416px;
        height: 104px;
        margin-bottom: 80px;
    }
    &__circles {
        background-image: url(../../../../images/Group332.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 480px;
        height: 640px;
        margin-top: 70px;
    }
}