.game__slider-items {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    /* max-width: 1120px;
    min-width: 280px;*/
}


/*@media screen and (max-width: 767px) {
    .game__slider-items {
        /* margin-left: 0;
        max-width: 590px;
    }
}

@media screen and (max-width: 600px) {
    .game__slider-items {
        /* width: 280px;
    }
}*/