.team__photo-name {
    margin: 0 0 10px 0;
    font-family: 'Noto Sans', 'Helvetica Neue', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 130%;
    letter-spacing: 0.055em;
    text-transform: uppercase;
    color: $text-color;
}

@media screen and (max-width: 600px) {
    .team__photo-name {
        text-align: center;
        font-size: 18px;
    }
}