.game__slider {
    max-width: 1120px;
    min-width: 280px;
    width: 100%;
    margin-bottom: 80px;
    overflow: hidden;
}

@media screen and (max-width: 1155px) {
    .game__slider {
        max-width: 1000px;
    }
}

@media screen and (max-width: 1010px) {
    .game__slider {
        max-width: 668px;
    }
}

@media screen and (max-width: 767px) {
    .game__slider {
        max-width: 590px;
    }
}

@media screen and (max-width: 600px) {
    .game__slider {
        width: 280px;
        margin-bottom: 0;
    }
}