.game__slider {
    max-width: 1120px;
    min-width: 280px;
    width: 100%;
    margin-bottom: 80px;
}

@media screen and (max-width: 1155px) {
    .game__slider {
        width: 1000px;
    }
}

@media screen and (max-width: 1010px) {
    .game__slider {
        width: 768px;
    }
}