.team__photo-info {
    margin: 0;
    font-family: 'Noto Sans', 'Helvetica Neue', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: $text-color;
}

@media screen and (max-width: 600px) {
    .team__photo-info {
        text-align: center;
        font-size: 18px;
    }
}