.intro__conteiner {
    display: flex;
    margin-left: 160px;
    flex-direction: column;
    margin-top: 70px;
}

@media screen and (max-width: 814px) {
    .intro__conteiner {
        margin-top: 60px;
        margin-left: 50px;
    }
}

@media screen and (max-width: 550px) {
    .intro__conteiner {
        margin: 50px 0 0 0;
    }
}