.page {
    background-color: $color-main;
    max-width: $screen-desktop;
    min-width: $screen-mobile;
    font-family: 'Noto Sans', 'Helvetica Neue', 'Arial', sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &__section {
        margin-left: 160px;
        margin-right: 160px;
    }
    &_type_center {
        margin: auto;
    }
    &_type_team {
        padding-left: 160px;
        padding-right: 160px;
        box-sizing: border-box;
    }
}