@media screen and (max-width: 1065px) {
    .action-button_type_header {
        width: 184px;
        height: 44px;
        font-size: 13px;
    }
}

@media screen and (max-width: 680px) {
    .action-button_type_header {
        width: 140px;
        height: 30px;
        font-size: 10px;
    }
}

@media screen and (max-width: 350px) {
    .action-button_type_header {
        margin-left: 114px;
    }
}