.team__slider-items {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    /*max-width: 1120px;*/
}

@media screen and (max-width: 1080px) {
    .team__slider-items {
        /* max-width: 1000px;*/
    }
}

@media screen and (max-width: 767px) {
    .team__slider-items {
        /* max-width: 590px;*/
    }
}

@media screen and (max-width: 600px) {
    .team__slider-items {
        /* width: 280px;*/
    }
}