.intro__label {
    width: 84px;
    height: 50px;
    background-color: $color-secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 45% 45% 0;
}

@media screen and (max-width: 750px) {
    .intro__label {
        width: 63px;
        height: 40px;
    }
}

@media screen and (max-width: 550px) {
    .intro__label {
        margin-left: 20px;
    }
}