@mixin main-text {
    font: {
        family: 'Noto Sans', 'Helvetica Neue', 'Arial', sans-serif;
        style: normal;
        weight: 600;
        size: 70px;
        height: 90%;
    }
    color: rgba(255, 255, 255, 1);
}

@mixin secondary-text {
    font {
        family: 'Noto Sans', 'Helvetica Neue', 'Arial', sans-serif;
        style: normal;
        weight: 400;
        size: 20px;
        height: 130%;
    }
    color: rgba(255, 255, 255, 1);
}