$color-main: rgba(0, 0, 0, 1);
$color-secondary: rgba(80, 54, 230, 1);
$object-color: rgba(0, 148, 101, 1);
$text-color: rgba(255, 255, 255, 1);
$screen-desktop: 1440px;
$screen-tablet: 768px;
$screen-mobile: 280px;