.wish__question {
    @include main-text;
    width: 520px;
    margin-top: 0;
    margin-bottom: 40px;
}

@media screen and (max-width: 776px) {
    .wish__question {
        width: 475px;
    }
}

@media screen and (max-width: 688px) {
    .wish__question {
        margin: 20px;
        font-size: 40px;
        width: 280px;
    }
}