.team {
    width: 100%;
    background-color: $color-secondary;
    display: flex;
    flex-direction: column;
    &__title {
        @include main-text;
        width: 1120px;
        margin-top: 80px;
        margin-bottom: 40px;
    }
    &__subtitle {
        @include secondary-text;
        width: 500px;
        margin-top: 0;
        margin-bottom: 110px;
    }
    &__slider {
        display: flex;
        max-width: 1120px;
        min-width: 280px;
        width: 100%;
        margin-bottom: 80px;
    }
    &__slider-items {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }
    &__slider-item {
        display: flex;
        max-width: 320px;
        min-width: 280px;
        flex-direction: column;
    }
    &__photo {
        border-radius: 15px;
        margin-bottom: 30px;
    }
    &__photo-name {
        margin: 0 0 10px 0;
        font-family: 'Noto Sans', 'Helvetica Neue', 'Arial', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 130%;
        letter-spacing: 0.055em;
        text-transform: uppercase;
        color: $text-color;
    }
    &__photo-info {
        margin: 0;
        font-family: 'Noto Sans', 'Helvetica Neue', 'Arial', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 130%;
        color: $text-color;
    }
    &__dots {
        display: none;
        width: 44px;
        justify-content: space-between;
        margin-top: 30px;
    }
    &__dot {
        width: 8px;
        height: 8px;
        margin-right: 10px;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        &_active {
            background-image: url(../../../../images/Ellipse16.svg);
            width: 8px;
            height: 8px;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}